#rubrik1 {
   
     padding: 10px;
     text-align: center;
     color: white;
     font-family:Century Gothic;
     background: #81a6ec85;
}

body {
     font-family: Century Gothic;
}

#knappCheckaIn {
     width: 200px;
     font-size: 20px;
     padding: 10px;
     border-radius: 5px;
     border: 3px solid rgba(90, 105, 172, 0.671);
     color: black;
}

#knappLäggTill {
     width: 200px;
     font-size: 15px;
     padding: 10px;
     border-radius: 5px;
     border: 3px solid rgba(90, 105, 172, 0.671);
     color: black;
}

#knappFastTrack {
     width: 200px;
     font-size: 15px;
     padding: 10px;
     border-radius: 5px;
     border: 3px solid rgba(90, 105, 172, 0.671);
     color: black;
}

#nyPersonNamn {
     width: 175px;
     font-size: 15px;
     padding: 10px;
     border-radius: 5px;
     border: 3px solid rgba(90, 105, 172, 0.671);
     color: black;
}

#tomKö {
     display: flex;
}

